* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  min-width: 325px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 20px;
  color: var(--text-color, #f5f5f5);
  font-size: clamp(1.125rem, 1.016rem + 0.538vw, 1.5rem);
  line-height: 1.2em;
  font-weight: 400;
  background-color: var(--bg-color, #003153);
}

.page__title {
  font-size: clamp(1.25rem, 0.831rem + 2.063vw, 2.688rem);
  line-height: 1.1em;
  text-align: center;
  text-shadow: 2px 3px 6px #ff47ca;
}

.year {
  display: grid;
  grid-template-columns: repeat(minmax(320px, 28%));
  row-gap: 30px;
  border-block-end: 1px solid var(--text-color);
}

.year__item {
  padding: 20px 0 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.book__item {
  padding: 30px 0;
}

.issues {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  gap: 15px;
  padding: 20px 0;
  justify-content: space-between;
}

.issues__item {
  text-align: start;
}

.issues__link {
  display: block;
  min-height: 285px;
  height: 100%;
  padding: 10px 20px;
  color: inherit;
  background-color: rgb(250, 218, 221, 0.1);
  font-size: clamp(1.125rem, 1.016rem + 0.538vw, 1.5rem);
  text-decoration: none;
}

.issues__link:visited {
  background-color: rgb(176, 0, 0);
}

.issues__link:hover {
  background-color: black;
  opacity: 0.4;
}

.issues__link:active {
  opacity: 50%;
}